repos:
  - repo: https://github.com/awslabs/git-secrets
    rev: b9e96b3212fa06aea65964ff0d5cda84ce935f38
    hooks:
    - id: git-secrets
      entry: git-secrets
      args: [--scan, --recursive]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      # On Windows, git will convert all CRLF to LF, but only after all hooks are done executing.
      # yamllint will fail before git has a chance to convert line endings, so it must be explicitly done before yamllint
      - id: mixed-line-ending
        args: ['--fix=lf']
        description: Forces to replace line ending by the UNIX 'LF' character
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v1.15.0
    hooks:
      - id: cfn-python-lint
        files: templates/.*\.(json|yml|yaml)$
        exclude: templates/.*/lambda-budgets/.*\.(json|yml|yaml)$
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-tabs
  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.29.2
    hooks:
      - id: check-github-workflows
      - id: check-github-actions
  - repo: https://github.com/aristanetworks/j2lint.git
    rev: v1.1.0
    hooks:
      - id: j2lint
        args: [--ignore, S3, V1, --]
