dist: bionic
language: node_js
cache:
  - pip
  - npm
node_js:
  - 15
branches:
  only:
    - master
before_install:
  - pyenv global 3.8
install:
  - npm install
  - pip install pre-commit assume sceptre sceptre-ssm-resolver sceptre-date-resolver
  - pip install git+git://github.com/Sceptre/sceptre-file-resolver.git
  - pip install git+git://github.com/zaro0508/sceptre-identity-resolver.git
before_script:
  - mkdir -p ~/.aws
  - echo -e "[profile orgman-servicerole]\nregion=us-east-1\nsource_profile=orgman-serviceuser\nrole_arn=$CiServiceRoleArn" > ~/.aws/config
  - echo -e "[default]\n\n[orgman-serviceuser]\naws_access_key_id=$CiUserAccessKey\naws_secret_access_key=$CiUserSecretAccessKey" > ~/.aws/credentials
stages:
  - name: validate
  - name: deploy-orgf
    if: type = push AND branch = master
  - name: deploy-sceptre
    if: type = push AND branch = master
jobs:
  fast_finish: true
  include:
    - stage: validate
      script:
        - pre-commit run --all-files
    - stage: deploy-orgf
      name: org-formation
      script:
        - cd org-formation
        - npx org-formation perform-tasks --profile orgman-servicerole --verbose --print-stack --perform-cleanup organization-tasks.yaml
    - stage: deploy-sceptre
      name: organizations
      script:
        - cd sceptre/organizations
        - sceptre --var "profile=orgman-servicerole" launch prod --yes
    - stage: deploy-sceptre
      name: admincentral
      script:
        - cd sceptre/admincentral
        - assume add member --profile orgman-servicerole --role-arn arn:aws:iam::745159704268:role/OrganizationAccountAccessRole && assume switch member
        - sceptre launch prod --yes
    - stage: deploy-sceptre
      name: itsandbox
      script:
        - cd sceptre/itsandbox
        - assume add member --profile orgman-servicerole --role-arn arn:aws:iam::804034162148:role/OrganizationAccountAccessRole && assume switch member
        - sceptre launch prod --yes
    - stage: deploy-sceptre
      name: sandbox
      script:
        - cd sceptre/sandbox
        - assume add member --profile orgman-servicerole --role-arn arn:aws:iam::563295687221:role/OrganizationAccountAccessRole && assume switch member
        - sceptre launch prod --yes
    - stage: deploy-sceptre
      name: scicomp
      script:
        - cd sceptre/scicomp
        - assume add member --profile orgman-servicerole --role-arn arn:aws:iam::055273631518:role/OrganizationAccountAccessRole && assume switch member
        - sceptre launch prod --yes
    - stage: deploy-sceptre
      name: scipooldev
      script:
        - cd sceptre/scipool
        - assume add member --profile orgman-servicerole --role-arn arn:aws:iam::465877038949:role/OrganizationAccountAccessRole && assume switch member
        - sceptre launch develop --yes
    - stage: deploy-sceptre
      name: scipoolprod
      script:
        - cd sceptre/scipool
        - assume add member --profile orgman-servicerole --role-arn arn:aws:iam::237179673806:role/OrganizationAccountAccessRole && assume switch member
        # SC-26 & SC-219 workaround: dis-associate and re-associate SC actions on every deploy
        - sceptre delete --yes prod/sc-product-assoc-ec2-linux-jumpcloud.yaml
        - sceptre delete --yes prod/sc-product-assoc-ec2-linux-jumpcloud-notebook.yaml
        - sceptre delete --yes prod/sc-product-assoc-ec2-linux-jumpcloud-workflows.yaml
        - sceptre delete --yes prod/sc-product-assoc-ec2-linux-windows-jumpcloud.yaml
        - sceptre launch --yes prod
    - stage: deploy-sceptre
      name: strides
      script:
        - cd sceptre/scipool
        - assume add member --profile orgman-servicerole --role-arn arn:aws:iam::423819316185:role/OrganizationAccountAccessRole && assume switch member
        # SC-26 & SC-219 workaround: dis-associate and re-associate SC actions on every deploy
        - sceptre delete --yes prod/sc-product-assoc-ec2-linux-jumpcloud.yaml
        - sceptre delete --yes prod/sc-product-assoc-ec2-linux-jumpcloud-notebook.yaml
        - sceptre delete --yes prod/sc-product-assoc-ec2-linux-jumpcloud-workflows.yaml
        - sceptre delete --yes prod/sc-product-assoc-ec2-linux-windows-jumpcloud.yaml
        - sceptre launch --yes strides
    - stage: deploy-sceptre
      name: sageit
      script:
        - cd sceptre/sageit
        - assume add member --profile orgman-servicerole --role-arn arn:aws:iam::797640923903:role/OrganizationAccountAccessRole && assume switch member
        - sceptre launch prod --yes
    - stage: deploy-sceptre
      name: logcentral
      script:
        - cd sceptre/logcentral
        - assume add member --profile orgman-servicerole --role-arn arn:aws:iam::231505186444:role/OrganizationAccountAccessRole && assume switch member
        - sceptre launch prod --yes
    - stage: deploy-sceptre
      name: synapsedw
      script:
        - cd sceptre/synapsedw
        - assume add member --profile orgman-servicerole --role-arn arn:aws:iam::383874245509:role/OrganizationAccountAccessRole && assume switch member
        - sceptre launch prod --yes
