AWSTemplateFormatVersion: '2010-09-09'
Description: Scheduled Jobs ServiceCatalog product
Parameters:
  ProductName:
    Type: String
    Description: Name of the product that will be visible to the end user
    Default: 'Scheduled Jobs'
  ProvisioningArtifactActive:
    Description: >-
      Indicates whether the product version is active. Inactive provisioning artifacts
      are invisible to end users. End users cannot launch or update a provisioned product
      from an inactive provisioning artifact
    Type: String
    AllowedValues:
      - "True"
      - "False"
    ConstraintDescription: "Valid values are True|False"
    Default: "True"
  ProvisioningArtifactGuidance:
    Description: 'The value to apply to the product version guidance'
    Type: String
    AllowedValues:
      - "DEFAULT"
      - "DEPRECATED"
    ConstraintDescription: "Valid values are DEFAULT|DEPRECATED"
    Default: "DEFAULT"
  ProvisioningArtifactAction:
    Description: >-
      The action type used to apply ProvisioningArtifactActive and ProvisioningArtifactGuidance
      to provisioning artifacts. ALL to apply to all artifacts, ALL_EXCEPT_LATEST to apply to
      all except the latest artifact
    Type: String
    AllowedValues:
      - "ALL"
      - "ALL_EXCEPT_LATEST"
    ConstraintDescription: "Valid values are ALL|ALL_EXCEPT_LATEST"
    Default: "ALL"
Resources:
  ScheduledJobsProduct:
    Type: AWS::ServiceCatalog::CloudFormationProduct
    Metadata:
      cfn-lint:
        config:
          ignore_checks:
            - E3002  # missing `owner` property error -> it's inside of included products.yaml
            - E3003  # invalid property `Fn::Transform` error -> cfn-lint bug
    Properties:
      Name: !Ref ProductName
      Description: "This product provisions AWS batch to execute scheduled jobs"
      ProvisioningArtifactParameters:
        {{ sceptre_user_data.ProvisioningArtifactParameters | indent(8) }}
      'Fn::Transform':
        Name: 'AWS::Include'
        Parameters:
          # source: https://github.com/Sage-Bionetworks/admincentral-infra/blob/master/templates/cfn-snippets-bucket.yaml
          Location: "s3://cfn-snippets-bucket-cloudformationsnippetsbucket-elu83sv8ocdz/scipool/products.yaml"
        ReplaceProvisioningArtifacts: true
  AssociatePortfolio:
    Type: AWS::ServiceCatalog::PortfolioProductAssociation
    Properties:
      PortfolioId: !ImportValue
        'Fn::Sub': '${AWS::Region}-sc-portfolio-scheduled-jobs-SCScheduledJobsPortfolioId'
      ProductId: !Ref 'ScheduledJobsProduct'
  ConstrainAccess:
    Type: AWS::ServiceCatalog::LaunchRoleConstraint
    DependsOn: AssociatePortfolio
    Properties:
      PortfolioId: !ImportValue
        'Fn::Sub': '${AWS::Region}-sc-portfolio-scheduled-jobs-SCScheduledJobsPortfolioId'
      ProductId: !Ref 'ScheduledJobsProduct'
      RoleArn: !ImportValue
        'Fn::Sub': '${AWS::Region}-sc-scheduled-jobs-launchrole-LaunchRoleArn'
  ConstraintTagUpdate:
    Type: AWS::ServiceCatalog::ResourceUpdateConstraint
    DependsOn: AssociatePortfolio
    Properties:
      PortfolioId: !ImportValue
        'Fn::Sub': '${AWS::Region}-sc-portfolio-scheduled-jobs-SCScheduledJobsPortfolioId'
      ProductId: !Ref 'ScheduledJobsProduct'
      TagUpdateOnProvisionedProduct: "ALLOWED"
  UpdateProductVersions:
    Type: Custom::ProductProvider
    Properties:
      ReDeploy: '{{ range(1, 1000000) | random }}'  # force CFN to redeploy this resource
      ServiceToken: !ImportValue
        'Fn::Sub': '${AWS::Region}-cfn-cr-sc-product-provider-UpdateProvisioningArtifactFunctionArn'
      ProductId: !Ref ScheduledJobsProduct
      ProvisioningArtifactActive: !Ref ProvisioningArtifactActive
      ProvisioningArtifactGuidance: !Ref ProvisioningArtifactGuidance
      ProvisioningArtifactAction: !Ref ProvisioningArtifactAction
Outputs:
  ProductId:
    Value: !Ref 'ScheduledJobsProduct'
    Export:
      Name: !Sub '${AWS::Region}-${AWS::StackName}-ProductId'
