Description: Tag options for for service catalog products
AWSTemplateFormatVersion: 2010-09-09
Resources:
{% if sceptre_user_data.CostCenters is defined %}
  {% for CostCenter in sceptre_user_data.CostCenters %}
  {{ CostCenter.replace(' ','').replace('(','').replace(')','').replace('+','').replace('.','').replace('-','').replace('_','').replace('/','') }}CostCenterTag:
    Type: AWS::ServiceCatalog::TagOption
    Properties:
      Active: true
      Key: "CostCenter"
      Value: {{ CostCenter }}
  {% endfor %}
{% endif %}

{% if sceptre_user_data.ProductIDs is defined %}
  {% for id in sceptre_user_data.ProductIDs %}
    {% if sceptre_user_data.CostCenters is defined %}
      {% for CostCenter in sceptre_user_data.CostCenters %}
  {{ CostCenter.replace(' ','').replace('(','').replace(')','').replace('+','').replace('.','').replace('-','').replace('_','').replace('/','') }}TagAssociationProd{{ id.split('-')[1] }}:
    Type: AWS::ServiceCatalog::TagOptionAssociation
    Properties:
      ResourceId: "{{ id }}"
      TagOptionId: !Ref "{{ CostCenter.replace(' ','').replace('(','').replace(')','').replace('+','').replace('.','').replace('-','').replace('_','').replace('/','') }}CostCenterTag"
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}

Outputs:
{% if sceptre_user_data.CostCenters is defined %}
  {% for CostCenter in sceptre_user_data.CostCenters %}
  {{ CostCenter.replace(' ','').replace('(','').replace(')','').replace('+','').replace('.','').replace('-','').replace('_','').replace('/','') }}CostCenterTag:
    Value: !Ref "{{ CostCenter.replace(' ','').replace('+','').replace('.','').replace('-','').replace('_','').replace('/','') }}CostCenterTag"
    Export:
      Name: !Sub "${AWS::Region}-${AWS::StackName}-{{ CostCenter.replace(' ','').replace('(','').replace(')','').replace('+','').replace('.','').replace('-','').replace('_','').replace('/','') }}CostCenterTag"
  {% endfor %}
{% endif %}
