Description: Setup AWS config and rules
AWSTemplateFormatVersion: 2010-09-09
Parameters:
  OperatorEmail:
    Type: String
  LogCentralBucket:
    Type: String
    Description: The central S3 bucket where AWS sends logs to.
  LocalCloudtrailBucket:
    Type: String
    Description: The S3 bucket in local AWS account containing cloudtrail logs.
Resources:
  # AWS Config service, https://github.com/awslabs/aws-cloudformation-templates/blob/master/aws/services/Config/Config.yaml
  ConfigConfigurationRecorder:
    Type: AWS::Config::ConfigurationRecorder
    Properties:
      RecordingGroup:
        AllSupported: true
        IncludeGlobalResourceTypes: true
      RoleARN: !GetAtt [IAMConfigRole, Arn]
  ConfigDeliveryChannel:
    Type: AWS::Config::DeliveryChannel
    Properties:
      ConfigSnapshotDeliveryProperties:
        DeliveryFrequency: Six_Hours
      # Send log and data to AWS logcentral account
      S3BucketName: !Ref LogCentralBucket
  S3ConfigBucket:
    Type: AWS::S3::Bucket
  SnsConfigTopic:
    Type: AWS::SNS::Topic
    Properties:
      Subscription:
        -
          Endpoint: !Ref OperatorEmail
          Protocol: email
  SnsConfigTopicPolicy:
    Type: AWS::SNS::TopicPolicy
    Properties:
      PolicyDocument:
        Id: ConfigTopicPolicy
        Version: '2012-10-17'
        Statement:
        - Effect: Allow
          Principal:
            Service: config.amazonaws.com
          Action: SNS:Publish
          Resource: '*'
      Topics: [!Ref 'SnsConfigTopic']
  IAMConfigRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
        - Effect: Allow
          Principal:
            Service: [config.amazonaws.com]
          Action: ['sts:AssumeRole']
      ManagedPolicyArns: ['arn:aws:iam::aws:policy/service-role/AWS_ConfigRole']
      Policies:
      - PolicyName: root
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
          - Effect: Allow
            Action: s3:GetBucketAcl
            Resource: !Sub 'arn:aws:s3:::${S3ConfigBucket}'
          - Effect: Allow
            Action: s3:PutObject
            Resource: !Sub 'arn:aws:s3:::${S3ConfigBucket}/AWSLogs/${AWS::AccountId}/*'
            Condition:
              StringEquals:
                s3:x-amz-acl: bucket-owner-full-control
          - Effect: Allow
            Action: config:Put*
            Resource: '*'
  SNSConfigTopic:
    Type: "AWS::SNS::Topic"
    Properties:
      Subscription:
        -
          Endpoint: !Ref OperatorEmail
          Protocol: email
  SNSConfigTopicPolicy:
    Type: "AWS::SNS::TopicPolicy"
    Properties:
      Topics:
        - !Ref SNSConfigTopic
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          -
            Sid: "CloudtrailTopicPolicy"
            Effect: "Allow"
            Principal:
              Service: "cloudtrail.amazonaws.com"
            Resource: "*"
            Action: "SNS:Publish"
  LogsConfigLogGroup:
    Type: "AWS::Logs::LogGroup"
    Properties:
      LogGroupName: !Sub '/aws/config/${AWS::StackName}.log'

  ####### Cloudtrail Rules #######

  # https://docs.aws.amazon.com/config/latest/developerguide/cloudtrail-enabled.html
  CloudtrailEnabledAwsConfigRule:
    Type: 'AWS::Config::ConfigRule'
    DependsOn: ConfigConfigurationRecorder
    Properties:
      Description: Checks whether AWS CloudTrail is enabled.
      InputParameters:
        s3BucketName: !Ref LocalCloudtrailBucket
        snsTopicArn: !Ref SNSConfigTopic
        cloudWatchLogsLogGroupArn: !GetAtt LogsConfigLogGroup.Arn
      Scope: {}
      Source:
        Owner: AWS
        SourceIdentifier: CLOUD_TRAIL_ENABLED
      MaximumExecutionFrequency: TwentyFour_Hours
Outputs:
  S3ConfigBucket:
    Value: !Ref S3ConfigBucket
    Export:
      Name: !Sub '${AWS::Region}-${AWS::StackName}-AwsConfigBucket'
  S3ConfigBucketArn:
    Value: !GetAtt S3ConfigBucket.Arn
    Export:
      Name: !Sub '${AWS::Region}-${AWS::StackName}-AwsConfigBucketArn'
