AWSTemplateFormatVersion: 2010-09-09
Description: >-
  Setup an AWS transit gateway
Parameters:
  VpcId:
    Description: 'The VPC ID to attach'
    Type: String
  SubnetIds:
    Description: 'The list of VPC subnet IDs to atttach'
    Type: List<String>
Resources:
  TransitGateway:
    Type: "AWS::EC2::TransitGateway"
    Properties:
      Description: !Sub '${AWS::StackName} Transit gateway'
      AutoAcceptSharedAttachments: "enable"
      DefaultRouteTableAssociation: "enable"
      DefaultRouteTablePropagation: "enable"
      DnsSupport: "enable"
      VpnEcmpSupport: "enable"
      Tags:
        - Key: Name
          Value: !Ref 'AWS::StackName'
  TransitGatewayAttachment:
    Type: AWS::EC2::TransitGatewayAttachment
    Properties:
      SubnetIds: !Ref SubnetIds
      TransitGatewayId: !Ref TransitGateway
      VpcId: !Ref VpcId
      Tags:
        - Key: Name
          Value: !Ref 'AWS::StackName'
  SharedResource:
    Type: AWS::RAM::ResourceShare
    DependsOn: TransitGateway
    Properties:
      AllowExternalPrincipals: true
      Name: !Sub '${AWS::StackName}'
      Principals:
{%    for spoke, spoke_data in sceptre_user_data.TgwSpokes.items() %}
        - "{{ spoke_data.AccountId }}"
{%    endfor %}
      ResourceArns:
        - !Sub 'arn:aws:ec2:${AWS::Region}:${AWS::AccountId}:transit-gateway/${TransitGateway}'
      Tags:
        - Key: Name
          Value: !Ref 'AWS::StackName'
Outputs:
  TransitGatewayId:
    Description: The transit gateway Id
    Value: !Ref TransitGateway
    Export:
      Name: !Sub '${AWS::Region}-${AWS::StackName}-TransitGatewayId'
  TransitGatewayArn:
    Description: The transit gateway ARN
    Value: !Sub 'arn:aws:ec2:${AWS::Region}:${AWS::AccountId}:transit-gateway/${TransitGateway}'
    Export:
      Name: !Sub '${AWS::Region}-${AWS::StackName}-TransitGatewayArn'
  TransitGatewayAttachment:
    Description: The transit gateway attachment ID
    Value: !Ref TransitGatewayAttachment
    Export:
      Name: !Sub '${AWS::Region}-${AWS::StackName}-TransitGatewayAttachmentId'
  SharedResourceArn:
    Description: The transit gateway shared resource ARN
    Value: !GetAtt SharedResource.Arn
    Export:
      Name: !Sub '${AWS::Region}-${AWS::StackName}-SharedResourceArn'
