AWSTemplateFormatVersion: 2010-09-09
Description: >-
  Setup AWS transit gateway routes
Parameters:
  TransitGatewayId:
    Description: 'The transit gateway ID'
    Type: String
  VpcRouteTableId:
    Description: 'The VPC ID to attach'
    Type: String
Resources:
{% for spoke, spoke_data in sceptre_user_data.TgwSpokes.items() %}
  VpcRouteTable{{ loop.index }}:
    Type: AWS::EC2::Route
    Properties:
      DestinationCidrBlock: "{{ spoke_data.CIDR }}"
      RouteTableId: !Ref VpcRouteTableId
      TransitGatewayId: !Ref TransitGatewayId
{% endfor %}
