template_path: remote/AccountAlertTopics.yaml
stack_name: AccountAlertTopics
dependencies:
  - develop/bootstrap.yaml
parameters:
  InitialSubscriberEmail: "bridge.dev@sagebase.org"
  EnableSubscriberSMS: "false"
  BillingThreshold: "1000"
  DeployLambda: "true"
  SlackWebhookURL: !ssm /infra/SlackWebhookUrl
  SlackChannel: "#infra-notices"
hooks:
  before_launch:
    - !cmd "wget https://{{stack_group_config.admincentral_cf_bucket}}.s3.amazonaws.com/aws-infra/master/AccountAlertTopics.yaml -O templates/remote/AccountAlertTopics.yaml"
