template_path: remote/vpc.yaml
stack_name: cesspoolvpc
dependencies:
  - develop/bootstrap.yaml
parameters:
  VpcSubnetPrefix: "10.31"
  VpcName: "cesspoolvpc"
hooks:
  before_launch:
    - !cmd "wget https://{{stack_group_config.admincentral_cf_bucket}}.s3.amazonaws.com/aws-infra/master/vpc.yaml -N -P templates/remote"
