template:
  type: http
  url: https://raw.githubusercontent.com/Sage-Bionetworks/aws-infra/v0.10.5/templates/essentials.yaml
stack_name: "essentials"
dependencies:
  - "develop/bootstrap.yaml"
parameters:
  KmsInfraKeyPrincipals:
    - "arn:aws:iam::465877038949:root"
    - !stack_output_external "bootstrap::AWSIAMSsmParamLambdaExecutionRoleArn"
    - !stack_output_external "sagebase-github-oidc-sage-bionetworks-it::ProviderRoleArn"
