template_path: "remote/essentials.yaml"
stack_name: "essentials"
dependencies:
  - "develop/bootstrap.yaml"
parameters:
  OperatorEmail: "aws.scipooldev@sagebase.org"
  VpcPeeringRequesterAwsAccountId: "745159704268"
hooks:
  before_launch:
    - !cmd "wget https://{{stack_group_config.admincentral_cf_bucket}}.s3.amazonaws.com/aws-infra/master/essentials.yaml -N -P templates/remote"
