template_path: remote/lambda-budgets.yaml
stack_name: lambda-budgets
stack_tags:
  Department: "Platform"
  Project: "Infrastructure"
  OwnerEmail: "it@sagebase.org"
parameters:
  EndUserRoleName: !stack_output_external sc-enduser-iam::EndUserRoleName
  BudgetRules: !file_contents templates/develop/lambda-budgets/budget-rules.yaml
  Thresholds: !file_contents templates/develop/lambda-budgets/thresholds.yaml
hooks:
  before_launch:
    - !cmd "wget https://{{stack_group_config.admincentral_cf_bucket}}.s3.amazonaws.com/lambda-budgets/master/lambda-budgets.yaml -N -P templates/remote"
