template:
  path: "sc-product-ec2-linux-docker-notebook.j2"
stack_name: "sc-product-ec2-linux-docker-notebook"
stack_tags:
  OwnerEmail: "it@sagebase.org"
dependencies:
  - "develop/sc-portfolio-ec2.yaml"
  - "develop/sc-ec2-actions.yaml"
  - "develop/sc-product-ec2-linux-notebook-write-to-ssm-policy.yaml"
parameters:
  ReplaceProvisioningArtifacts: "true"
sceptre_user_data:
  # force cloudformation to update stack by setting a random number to the latest product's description
  ProvisioningArtifactParameters: |
    - Description: 'Initial product definition'
      Info:
        LoadTemplateFromURL: 'https://{{stack_group_config.admincentral_cf_bucket}}.s3.amazonaws.com/{{stack_group_config.service_catalog_library}}/v1.3.2/ec2/sc-ec2-linux-docker-notebook.yaml'
      Name: 'v1.3.2'
    - Description: 'v1.3.3'
      Info:
        LoadTemplateFromURL: 'https://{{stack_group_config.admincentral_cf_bucket}}.s3.amazonaws.com/{{stack_group_config.service_catalog_library}}/v1.3.3/ec2/sc-ec2-linux-docker-notebook.yaml'
      Name: 'v1.3.3'
    - Description: 'Update instance types'
      Info:
        LoadTemplateFromURL: 'https://{{stack_group_config.admincentral_cf_bucket}}.s3.amazonaws.com/{{stack_group_config.service_catalog_library}}/v1.3.4/ec2/sc-ec2-linux-docker-notebook.yaml'
      Name: 'v1.3.4'
    - Description: 'Use Sage maintained Docker image'
      Info:
        LoadTemplateFromURL: 'https://{{stack_group_config.admincentral_cf_bucket}}.s3.amazonaws.com/{{stack_group_config.service_catalog_library}}/v1.3.5/ec2/sc-ec2-linux-docker-notebook.yaml'
      Name: 'v1.3.5'
    - Description: 'Update Docker image and volume mounting'
      Info:
        LoadTemplateFromURL: 'https://{{stack_group_config.admincentral_cf_bucket}}.s3.amazonaws.com/{{stack_group_config.service_catalog_library}}/v1.3.6/ec2/sc-ec2-linux-docker-notebook.yaml'
      Name: 'v1.3.6'
    - Description: 'Remove nano instance type'
      Info:
        LoadTemplateFromURL: 'https://{{stack_group_config.admincentral_cf_bucket}}.s3.amazonaws.com/{{stack_group_config.service_catalog_library}}/v1.4.0/ec2/sc-ec2-linux-docker-notebook.yaml'
      Name: 'v1.4.0'
    - Description: 'Container security patching'
      Info:
        LoadTemplateFromURL: 'https://{{stack_group_config.admincentral_cf_bucket}}.s3.amazonaws.com/{{stack_group_config.service_catalog_library}}/v1.4.5/ec2/sc-ec2-linux-docker-notebook.yaml'
      Name: 'v1.4.5'
    - Description: 'Update Notebook product'
      Info:
        LoadTemplateFromURL: 'https://{{stack_group_config.admincentral_cf_bucket}}.s3.amazonaws.com/{{stack_group_config.service_catalog_library}}/v1.4.8/ec2/sc-ec2-linux-docker-notebook.yaml'
      Name: 'v1.4.8'
    - Description: 'Add patching policy {{ range(1, 10000) | random }}'
      Info:
        LoadTemplateFromURL: 'https://{{stack_group_config.admincentral_cf_bucket}}.s3.amazonaws.com/{{stack_group_config.service_catalog_library}}/v1.4.10/ec2/sc-ec2-linux-docker-notebook.yaml'
      Name: 'v1.4.10'
