template_path: "remote/essentials.yaml"
stack_name: "essentials"
dependencies:
  - "prod/bootstrap.yaml"
parameters:
  OperatorEmail: "aws.imagecentral@sagebase.org"
  VpcPeeringRequesterAwsAccountId: "745159704268"
hooks:
  before_create:
    - !cmd "wget https://s3.amazonaws.com/{{stack_group_config.admincentral_cf_bucket}}/aws-infra/master/essentials.yaml -N -P templates/remote"
  before_update:
    - !cmd "wget https://s3.amazonaws.com/{{stack_group_config.admincentral_cf_bucket}}/aws-infra/master/essentials.yaml -N -P templates/remote"
