template_path: remote/cfn-cr-sc-actions-provider.yaml
stack_name: cfn-cr-sc-actions-provider
stack_tags:
  Department: "Platform"
  Project: "Infrastructure"
  OwnerEmail: "it@sagebase.org"
dependencies:
  - prod/bootstrap.yaml
hooks:
  before_launch:
    - !cmd "wget https://{{stack_group_config.admincentral_cf_bucket}}.s3.amazonaws.com/cfn-cr-sc-actions-provider/master/cfn-cr-sc-actions-provider.yaml -O templates/remote/cfn-cr-sc-actions-provider.yaml"
