template_path: remote/vpc.yaml
stack_name: internalpoolvpc
dependencies:
  - prod/bootstrap.yaml
parameters:
  VpcSubnetPrefix: "10.41"
  VpcName: internalpoolvpc
hooks:
  before_launch:
    - !cmd "wget https://{{stack_group_config.admincentral_cf_bucket}}.s3.amazonaws.com/aws-infra/master/vpc.yaml -N -P templates/remote"
