template:
  path: "sc-enduser-iam.j2"
stack_name: "sc-enduser-iam"
dependencies:
  - "prod/essentials.yaml"
parameters:
  # InstanceRoleArn from https://github.com/Sage-Bionetworks/synapse-login-aws-infra/blob/develop/templates/app.yaml
  SynapseLoginInstanceRoleArn: !stack_output_external synapse-login-scipoolprod::InstanceRoleArn
