template_path: "sc-kms-key.yaml"
stack_name: "sc-kms-key"
stack_tags:
  Department: "Platform"
  Project: "Infrastructure"
  OwnerEmail: "it@sagebase.org"
dependencies:
  - "prod/bootstrap.yaml"
parameters:
  AdminRoleArn: !stack_output_external jumpcloud-idp::ScipoolprodAdminSamlProviderRoleArn
