template_path: remote/vpc.yaml
stack_name: unionstationvpc
dependencies:
  - "prod/essentials.yaml"
parameters:
  VpcSubnetPrefix: "10.50"
  VpcName: "unionstationvpc"
  VpnCidr: "10.50.0.0/16"
hooks:
  before_launch:
    - !cmd "wget https://{{stack_group_config.admincentral_cf_bucket}}.s3.amazonaws.com/aws-infra/master/vpc.yaml -O templates/remote/vpc.yaml"
