name: aws-deploy

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: pre-commit/action@v2.0.0
  org-formation:
    needs: pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Assume AWS Role
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.CI_SERVICE_USER_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.CI_SERVICE_USER_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::531805629419:role/bootstrap-ci-service-access-CiServiceRole-VVXK9EUQNPUZ
          role-duration-seconds: 1200
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 15.x
      - name: Install dependencies
        run: npm install
      - name: Deploy with org-formation
        run: |
          cd org-formation
          npx org-formation perform-tasks --verbose --print-stack --perform-cleanup organization-tasks.yaml
  sceptre-organizations:
    needs: org-formation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install sceptre sceptre-ssm-resolver sceptre-date-resolver
      - name: Assume AWS Role
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.CI_SERVICE_USER_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.CI_SERVICE_USER_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::531805629419:role/bootstrap-ci-service-access-CiServiceRole-VVXK9EUQNPUZ
          role-duration-seconds: 1200
      - name: Deploy with sceptre
        run: |
          cd sceptre/organizations
          sceptre launch prod --yes
  sceptre-admincentral:
    needs: org-formation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install sceptre sceptre-ssm-resolver sceptre-date-resolver
      - name: Assume AWS Role
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.CI_SERVICE_USER_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.CI_SERVICE_USER_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::745159704268:role/OrganizationAccountAccessRole
          role-duration-seconds: 1200
      - name: Deploy with sceptre
        run: |
          cd sceptre/admincentral
          sceptre launch prod --yes
  sceptre-itsandbox:
    needs: org-formation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install sceptre sceptre-ssm-resolver sceptre-date-resolver
      - name: Assume AWS Role
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.CI_SERVICE_USER_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.CI_SERVICE_USER_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::804034162148:role/OrganizationAccountAccessRole
          role-duration-seconds: 1200
      - name: Deploy with sceptre
        run: |
          cd sceptre/itsandbox
          sceptre launch prod --yes
  sceptre-sandbox:
    needs: org-formation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install sceptre sceptre-ssm-resolver sceptre-date-resolver
      - name: Assume AWS Role
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.CI_SERVICE_USER_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.CI_SERVICE_USER_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::563295687221:role/OrganizationAccountAccessRole
          role-duration-seconds: 1200
      - name: Deploy with sceptre
        run: |
          cd sceptre/sandbox
          sceptre launch prod --yes
  sceptre-scicomp:
    needs: org-formation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install sceptre sceptre-ssm-resolver sceptre-date-resolver
      - name: Assume AWS Role
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.CI_SERVICE_USER_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.CI_SERVICE_USER_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::055273631518:role/OrganizationAccountAccessRole
          role-duration-seconds: 1200
      - name: Deploy with sceptre
        run: |
          cd sceptre/scicomp
          sceptre launch prod --yes
  sceptre-scipooldev:
    needs: org-formation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install sceptre sceptre-ssm-resolver sceptre-date-resolver
          pip install git+git://github.com/Sceptre/sceptre-file-resolver.git
      - name: Assume AWS Role
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.CI_SERVICE_USER_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.CI_SERVICE_USER_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::465877038949:role/OrganizationAccountAccessRole
          role-duration-seconds: 1200
      - name: Deploy with sceptre
        run: |
          cd sceptre/scipool
          sceptre launch develop --yes
  sceptre-scipoolprod:
    needs: org-formation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install sceptre sceptre-ssm-resolver sceptre-date-resolver
          pip install git+git://github.com/Sceptre/sceptre-file-resolver.git
      - name: Assume AWS Role
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.CI_SERVICE_USER_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.CI_SERVICE_USER_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::237179673806:role/OrganizationAccountAccessRole
          role-duration-seconds: 1200
      - name: Deploy with sceptre
        # SC-26 & SC-219 workaround: dis-associate and re-associate SC actions on every deploy
        run: |
          cd sceptre/scipool
          sceptre delete --yes prod/sc-product-assoc-ec2-linux-jumpcloud.yaml
          sceptre delete --yes prod/sc-product-assoc-ec2-linux-jumpcloud-notebook.yaml
          sceptre delete --yes prod/sc-product-assoc-ec2-linux-jumpcloud-workflows.yaml
          sceptre delete --yes prod/sc-product-assoc-ec2-linux-windows-jumpcloud.yaml
          sceptre launch prod --yes
  sceptre-strides:
    needs: org-formation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install sceptre sceptre-ssm-resolver sceptre-date-resolver
          pip install git+git://github.com/Sceptre/sceptre-file-resolver.git
      - name: Assume AWS Role
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.CI_SERVICE_USER_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.CI_SERVICE_USER_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::423819316185:role/OrganizationAccountAccessRole
          role-duration-seconds: 1200
      - name: Deploy with sceptre
        # SC-26 & SC-219 workaround: dis-associate and re-associate SC actions on every deploy
        run: |
          cd sceptre/scipool
          sceptre delete --yes prod/sc-product-assoc-ec2-linux-jumpcloud.yaml
          sceptre delete --yes prod/sc-product-assoc-ec2-linux-jumpcloud-notebook.yaml
          sceptre delete --yes prod/sc-product-assoc-ec2-linux-jumpcloud-workflows.yaml
          sceptre delete --yes prod/sc-product-assoc-ec2-linux-windows-jumpcloud.yaml
          sceptre launch strides --yes
  sceptre-sageit:
    needs: org-formation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install sceptre sceptre-ssm-resolver sceptre-date-resolver
      - name: Assume AWS Role
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.CI_SERVICE_USER_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.CI_SERVICE_USER_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::797640923903:role/OrganizationAccountAccessRole
          role-duration-seconds: 1200
      - name: Deploy with sceptre
        run: |
          cd sceptre/sageit
          sceptre launch prod --yes
  sceptre-logcentral:
    needs: org-formation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install sceptre sceptre-ssm-resolver sceptre-date-resolver
          pip install git+git://github.com/zaro0508/sceptre-identity-resolver.git
      - name: Assume AWS Role
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.CI_SERVICE_USER_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.CI_SERVICE_USER_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::231505186444:role/OrganizationAccountAccessRole
          role-duration-seconds: 1200
      - name: Deploy with sceptre
        run: |
          cd sceptre/logcentral
          sceptre launch prod --yes
  sceptre-synapsedw:
    needs: org-formation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install sceptre sceptre-ssm-resolver sceptre-date-resolver
      - name: Assume AWS Role
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.CI_SERVICE_USER_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.CI_SERVICE_USER_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::383874245509:role/OrganizationAccountAccessRole
          role-duration-seconds: 1200
      - name: Deploy with sceptre
        run: |
          cd sceptre/synapsedw
          sceptre launch prod --yes
  sceptre-synapseprod:
    needs: org-formation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install sceptre sceptre-ssm-resolver sceptre-date-resolver
      - name: Assume AWS Role
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.CI_SERVICE_USER_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.CI_SERVICE_USER_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::325565585839:role/OrganizationAccountAccessRole
          role-duration-seconds: 1200
      - name: Deploy with sceptre
        run: |
          cd sceptre/synapseprod
          sceptre launch prod --yes
